# Ignore hidden folders
/.archive
/.backup
/.examples

# Ignore application files
*.backup
*2.php
*3.php
*4.php
config.php
test*.*
todo.txt
/data

# Ignore jaggedsoft/php-binance-api
/vendor
ca.pem
composer.json
composer.lock
