# Ignore hidden folders
/.archive
/.backup
/.examples

# Ignore application files
*.backup
*2.php
*3.php
config.php
tests.php
todo.txt
report.php
/data

# Ignore jaggedsoft/php-binance-api
/vendor
ca.pem
composer.json
composer.lock
